<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hank.oma">

    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application>
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />
    </application>
</manifest>
